#seller{
    .seller-products{
        margin-top: 30px;
    }
    
    .seller-title{
        text-align: center;
        margin-top: 40px;
    }
    .seller-rows{
        margin-left: 15px;
        .seller-product-row1{
            display: flex;
        }
        .seller-product-row2{
            display: flex;
            margin-top: 30px;
        }
    }
    .seller-product1{
        display: flex;
        a{
            color: black;
            text-decoration: none;
        }
        .seller-product-title{
            margin-left: 6%;
            .seller-rating{
                margin-top: 15px;
                color: #e3a51e ;
            }
            .seller-click{
                margin-top: 34px;
                display: flex;
                .click-heart{
                    
                    i{
                        padding: 15px;
                        
                        background-color: rgb(243, 243, 243);
                    }
                }
                .click-bag{
                    margin-left: 2%;
                    i{
                        padding: 15px;
                        margin-left: 10%;
                        background-color: rgb(243, 243, 243);
                    }

                }
                .click-eye{
                    margin-left: 3%;
                    i{
                        padding: 15px;
                        margin-left: 10%;
                        background-color: rgb(243, 243, 243);
                    }

                }
            }
        }
    }
}