#service{
    margin-top: 30px;
    .service{
        .service1{
            display: flex;
            background-color: #fcedda;
            padding: 25px;
            .icon-text{
                margin-left: 25px;
            }
        }
        .service2{
            display: flex;
            background-color: #f2fbcb;
            padding: 25px;
            .icon-text{
                margin-left: 25px;
            }
        }
        .service3{
            display: flex;
            background-color: #f7d8f9;
            padding: 25px;
            .icon-text{
                margin-left: 25px;
            }
        }
    }
}